@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

/* styles1.css */

/* Estilos generales */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

/* Menu */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: end;
  position: fixed; /* Agregar la posición fixed */
  width: 100%;
  transition: background-color 0.3s ease; /* Agregar una transición de color de fondo */
  background-color: #ffffff;
  border-bottom: 3px solid #003049;
}

.menu.scrolled {
  background-color: #ffffff; /* Cambiar el color de fondo del menú cuando se hace scroll */
}

.menu li {
  display: inline-block;
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: #003049;
  font-weight: 400;
}

.opcion:hover {
  background-color: #003049;
}

.opcion a:hover {
  color: #fdf3da;
}

/* Separador con mapa */
.separador {
  padding: 55px 0;
  text-align: center;
}

/* Contenedor de información */
.row {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.section {
  margin: 5px;
  flex: 1;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.titulo {
  font-size: 28px;
  color: #003049;
  margin-bottom: 20px;
  font-weight: 600;
}

.textod {
  font-weight: 600;
}

.textoc {
  color: #003049;
  font-weight: 400;
}

/* Formulario de contacto */
.formulario {
  margin: 10px 0;
}

.label-inside {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.botones {
  width: 120px;
  padding: 10px;
  background-color: #003049;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.botones:hover {
  background-color: #f76f8e;
}

/* Footer */
.footer1 {
  background-color: #f0f0f0;
  padding: 30px 0;
  text-align: center;
}

.iconosF {
  width: 30px;
  margin: 0 15px;
}

.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #003049;
  color: #fff;
}

.color-derechos {
  color: #fff;
  text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .section {
    width: 100%;
  }
}
