@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

/* Estilos generales */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* Menu */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: end;
  position: fixed; /* Agregar la posición fixed */
  width: 100%;
  transition: background-color 0.3s ease; /* Agregar una transición de color de fondo */
  background-color: #ffffff;
}

.menu.scrolled {
  background-color: #ffffff; /* Cambiar el color de fondo del menú cuando se hace scroll */
}

.menu li {
  display: inline-block;
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: #003049;
  font-weight: 400;
}

.opcion:hover {
  background-color: #003049;
}

.opcion a:hover {
  color: #fdf3da;
}

/* Secciones */
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
}

.section {
  text-align: center;
  margin: 20px;
  width: 23%;
  padding: 20px;
  background-color: #e3f2fd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}

.textoT {
  color: #003049;
}

.img {
  width: 100%;
  max-height: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.img:hover {
  transform: scale(1.05);
}

.description {
  color: #003049;
  font-size: 14px;
}

/* Títulos */
.titulo {
  text-align: center;
  color: #003049;
  font-size: 36px;
}

/* Footer */
.footer1 {
  text-align: center;
  background-color: #003049;
  padding: 20px;
  color: #fdf3da;
}

.iconosF {
  width: 40px;
  margin: 10px;
}

.footer {
  text-align: center;
  background-color: #003049;
  padding: 10px;
  color: #fdf3da;
}
